<%= form_for(@halloweenpet) do |f| %>
  <% if @halloweenpet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@halloweenpet.errors.count, "error") %> prohibited this Halloween Pet from being saved:</h2>

      <ul>
      <% @halloweenpet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :costume %><br>
    <%= f.text_field :costume %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_area :age %>
  </div>
  <div class="field">
    <%= f.label :weight, 'Weight in pounds' %><br>
    <%= f.text_area :weight %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_area :gender %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
