<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @halloweenpet.name %>
</p>

<p>
  <strong>Costume:</strong>
  <%= @halloweenpet.costume %>
</p>

<p>
  <strong>Description:</strong>
  <%= @halloweenpet.description %>
</p>

<p>
  <strong>Picture:</strong>
	<%= image_tag(@halloweenpet.picture_url, :width => 600) if @halloweenpet.picture.present? %>
</p>

<%= link_to 'Edit', edit_halloweenpet_path(@halloweenpet) %> |
<%= link_to 'Back', halloweenpets_path %>
